APP_NAME=Zoomind FastAPI
DEBUG=True
DATABASE_URL=postgresql+asyncpg://zoomind_fastapi:zoomind_fastapi@127.0.0.1:5433/zoomind_fastapi
REDIS_URL=redis://127.0.0.1:6380/0
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=15